<h1>¡Hola! Completa tu registro en UniOpinions.</h1>

<p>
    Por favor confirma tu dirección de correo electrónico haciendo click en el siguiente enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi correo</a>.
    Este enlace va a caducar en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    ¡Gracias!
</p>
