{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    
    <div class="sm:text-5xl text-3xl text-center text-black dark:text-white">
     <h1>Te hemos enviado un correo electrónico de verificación.</h1>
     <h2 class="sm:text-3xl text-2xl m-7">No podrás publicar opiniones hasta que lo hayas verificado.</h2>
    </div>

{% endblock %}
