{% extends 'base.html.twig' %}

{% block title %}Reestablece tu contrase침a{% endblock %}

{% block main %}

    <div class ="text-black dark:text-white flex flex-col justify-center items-center">

        <h1 class="text-4xl sm:text-6xl mb-10">Restablecer contrase침a</h1>

        {{ form_start(requestForm) }}

            <div class="flex flex-col items-center justify-center">

                <div class="mb-7">
                    <h2 class="sm:text-3xl text-2xl ">Email:</h2>

                    {{ form_widget(requestForm.email ,{'attr': {'class': '
                    bg-slate-200 dark:bg-slate-800 rounded-md h-11 
                    sm:w-[30rem] w-[20rem] text-3xl p-3 mt-1'}}) }}
                </div>

                <div class="text-2xl text-center sm:w-[30rem] w-[20rem]">
                    <h3>
                        Introduce tu correo electr칩nico y te enviaremos un link para restablecer tu contrase침a.
                    </h3>
                </div>

                <button class="btn btn-primary bg-slate-200 dark:bg-slate-800
                rounded-md p-3 text-4xl mt-5">Enviar</button>

            </div>
            
        {{ form_end(requestForm) }}

    </div>
    
{% endblock %}
