{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}

<div class="text-gray-500 m-11">
    <h1 class="">Profesores no revisados</h1>

    <table class="table">
        <thead>
            <tr class="text-gray-500 ">
                <th>ID</th>
                <th>Profesor</th>
                <th class="text-right">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for professor in professors %}
                <tr class="text-gray-500">
                    <td >{{ professor.id }}</td>
                    <td >{{ professor.name }}</td>
                    <td class="text-right">
                        <a href="{{ path('admin_accept_professor', {id: professor.id}) }}" class="btn btn-success">Aceptar</a>
                        <a href="{{ path('admin_reject_professor', {id: professor.id}) }}" class="btn btn-danger">Rechazar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
