{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}

<div class="text-white m-11">
    <h1 class="">Opiniones no revisadas</h1>

    <table class="table">
        <thead>
            <tr class="text-white">
                <th>ID</th>
                <th>Comentario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for opinion in opinions %}
                <tr class="text-white">
                    <td >{{ opinion.id }}</td>
                    <td >{{ opinion.comment }}</td>
                    <td>
                        <a href="{{ path('admin_accept_opinion', {id: opinion.id}) }}" class="btn btn-success">Aceptar</a>
                        <a href="{{ path('admin_reject_opinion', {id: opinion.id}) }}" class="btn btn-danger">Rechazar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
