<h1>Tu Comentario Necesita Revisión</h1>

<p>
    ¡Hola!
</p>

<p>
    Gracias por compartir tu opinión sobre <strong>{{ rejectedEntity }}</strong> en UniOpinions. Después de una cuidadosa revisión, hemos decidido no publicar tu comentario debido a:
</p>

<p>{{ reason }}</p>

<p>El comentario de texto no será visible, sin embargo, sí lo será la valoración general y las palabras clave.</p>

<p>
    Te animamos a editar tu comentario y a reenviarlo siguiendo nuestras <a target="_blank" href="https://uniopinions.com/rules">directrices de publicación</a>. Estamos comprometidos a mantener un ambiente respetuoso y constructivo para todos los usuarios.
</p>

<p>
    Si tienes alguna pregunta, no dudes en contactarnos.
</p>

<p>
    Gracias por tu comprensión y colaboración.
</p>

<p>
    Saludos cordiales,<br>
    El Equipo de UniOpinions.
</p>
