<h1>¡Tu Comentario Ha Sido Publicado!</h1>

<p>
    ¡Hola!
</p>

<p>
    Queremos informarte que tu comentario sobre <strong>{{ acceptedEntity }}</strong> ha sido revisado y está ahora publicado en nuestra plataforma. Agradecemos tu contribución y tu esfuerzo por compartir tu experiencia con otros estudiantes.
</p>

<p>
    ¡Gracias por ser parte de nuestra comunidad en UniOpinions!
</p>

<p>
    Saludos cordiales,<br>
    El Equipo de UniOpinions
</p>