{% extends 'base.html.twig' %}

{% block title %}UniOpinions{% endblock %}

{% block main %}

<div class="sm:mx-24 mx-5 md:mx-36">
    <div class="text-center sm:text-4xl text-2xl text-black dark:text-white ">
        <p class="sm:text-4xl text-2xl mt-7">UniOpinions fue creado por estudiantes para estudiantes.</p>

        <p class="sm:text-3xl text-xl mt-7">Creemos que de igual forma que se puede opinar sobre práticamente cualquier cosa en internet, escribir y leer opiniones sobre profesores y asignaturas es una gran ayuda para el estudiantado.</p>


        <p class="sm:text-2xl text-xl mt-7">Un mal profesor en la universidad puede causar pérdidas de tiempo y dinero... </p>
        

        <p class="sm:text-3xl text-xl mt-7">Con UniOpinions podrás encontrar consejos y recomendaciones de alumnos como tú para formarte una mejor idea de lo que tienes por delante, y poder tomar las mejores decisiones.</p>

        
        <p class="sm:text-2xl text-sm mt-7">Este es un proyecto de código abierto impulsado por el programa Summer Of Code de Aircury.</p>

    </div>

</div>

    

{% endblock %}
