{% extends 'base.html.twig' %}

{% block title %}Sobre UniOpinions{% endblock %}

{% block meta_description %}
    <meta name="description" content="Conoce más sobre UniOpinions, nuestro compromiso con la transparencia educativa y cómo estamos transformando la manera en que los estudiantes eligen sus cursos y profesores.">
{% endblock %}

{% block main %}

<div class="sm:mx-24 mx-5 md:mx-36">
    <div class="text-center sm:text-4xl text-2xl text-black dark:text-white ">
        <p class="sm:text-4xl text-2xl mt-7">UniOpinions fue creado por estudiantes para estudiantes.</p>

        <p class="sm:text-3xl text-xl mt-7">En internet, se puede opinar sobre práticamente cualquier cosa. Creemos que escribir y leer opiniones sobre profesores y asignaturas de universidad es una gran ayuda para los estudiantes a la hora de tomar decisiones. También, pensamos que es útil para el profesorado conocer sus puntos fuertes y débiles.</p>

        <p class="sm:text-3xl text-xl mt-7">Por eso nació UniOpinions, para que puedas encontrar consejos y recomendaciones de alumnos como tú, y formarte una mejor idea de lo que tienes por delante.</p>
        
        <p class="sm:text-2xl text-sm mt-7">Este es un proyecto de código abierto impulsado por el programa Summer Of Code de Aircury.</p>

    </div>

</div>

    

{% endblock %}
