{% extends 'base.html.twig' %}

{% block title %}UniOpinions{% endblock %}

{% block meta_description %}
    <meta name="description" content="Descubre UniOpinions, la plataforma española para opinar y valorar profesores y asignaturas de universidades. Encuentra o comparte tu opinión hoy.">
{% endblock %}

{% block main %}

<div class="sm:mx-24 mx-5 md:mx-36">
    <div class="text-center sm:text-4xl text-2xl text-black dark:text-white ">
        <p class="" >UniOpinions es una plataforma de código abierto que permite opinar sobre asignaturas y profesores de la universidad.</p>

        <p class="sm:text-3xl text-xl mt-7">La web está estructurada según la universidad, grado universitario, asignaturas, y por último profesores.</p>
    </div>

    <div class="sm:text-3xl text-xl sm:flex items-center justify-center my-7 
    sm:my-11 text-center">
        
        <a href="/about">
            <button class="rounded-md bg-slate-200 p-7 mx-5 my-7 hover:bg-slate-300">
                Sobre el proyecto
            </button>
        </a>

        <a href="/universities">
            <button class="rounded-md bg-slate-200 p-7 mx-5 hover:bg-slate-300">
                Ver universidades
            </button>
        </a>
    </div>
</div>

    

{% endblock %}
