{% extends 'base.html.twig' %}

{% block title %}Reglas UniOpinions{% endblock %}

{% block meta_description %}
    <meta name="description" content="Conoce las reglas para la publicación de comentarios de UniOpinions.">
{% endblock %}

{% block main %}

<div class="max-w-2xl mx-auto text-gray-800 dark:text-gray-300">
    <h1 class="text-2xl text-center mb-4 text-blue-600 dark:text-blue-200">Normas para la Publicación de Comentarios en UniOpinions</h1>

    <ul class="list-disc list-inside space-y-2">
        <li><span class="text-blue-500 dark:text-blue-200">RESPETO:</span> Todos los comentarios deben ser respetuosos. No se tolerará ninguna forma de insulto, lenguaje ofensivo, acoso o discriminación.</li>
        <li><span class="text-blue-500 dark:text-blue-200">OBJETIVIDAD:</span> Los comentarios deben ser objetivos y basados en experiencias personales. Evita generalizaciones y suposiciones.</li>
        <li><span class="text-blue-500 dark:text-blue-200">VERACIDAD:</span> Asegúrate de que tu comentario refleje tus verdaderas experiencias y opiniones. No se permiten falsedades o exageraciones.</li>
        <li><span class="text-blue-500 dark:text-blue-200">RELEVANCIA:</span> Mantén tus comentarios relevantes para la enseñanza y el rendimiento del profesor. No incluyas información personal irrelevante sobre el profesor.</li>
        <li><span class="text-blue-500 dark:text-blue-200">PRIVACIDAD:</span> No se permite compartir información personal del profesor que no sea de dominio público.</li>
        <li><span class="text-blue-500 dark:text-blue-200">LENGUAJE APROPIADO:</span> Usa un lenguaje adecuado y evita el uso de jerga o abreviaturas que podrían ser confusas.</li>
        <li><span class="text-blue-500 dark:text-blue-200">SIN PROMOCIONES:</span> Los comentarios no deben contener promociones de productos o servicios, ni enlaces a sitios web externos.</li>
        <li><span class="text-blue-500 dark:text-blue-200">SIN PLAGIO:</span> Todos los comentarios deben ser originales. No copies comentarios de otros lugares.</li>
        <li><span class="text-blue-500 dark:text-blue-200">NO SE PERMITEN COMENTARIOS DUPLICADOS:</span> Cada estudiante debe realizar un único comentario por profesor.</li>
        <li><span class="text-blue-500 dark:text-blue-200">DENUNCIA DE ABUSOS:</span> Si ves un comentario que viola estas normas, repórtalo. Nos tomamos muy en serio las violaciones y tomaremos las medidas necesarias para mantener la integridad de nuestra plataforma.</li>
    </ul>

    <p class="mt-4 text-2xl">
        Recuerda que estas reglas están en lugar para garantizar un ambiente respetuoso y útil para todos los usuarios. Incumplir estas normas puede llevar a la eliminación del comentario o la suspensión de tu cuenta.
    </p>
</div>

{% endblock %}